/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

#chatwindow, #console{
	border:0px solid blue;
	overflow:hidden;
  position: relative;
  padding:0px;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;

}
#chatwindow{float:left;height: 100%; width: 100%}
#console{
  float: right;background-color: #eee
  height: 400px;
}

.w50pc{width: 50%!important}

body{background-color: rgba(0,0,0,0);}
html, body, #container{padding:0px;margin:0px;height: 100%;}
body{overflow: hidden}

#chatwindow .animateFromBottom { margin:2px;
  position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1} 
}



#chatwindow div p.user_name, #chatwindow div .message_text, #console p {display: inline; padding:0px;margin:0px;vertical-align: bottom}
#chatwindow div p.user_name{font-weight: bold; margin-right: 2px}

/*#chatwindow div .message_text{color:#CCC;}*/

.hidden{position: absolute;visibility: hidden}

#console p{
  position:relative; 
}

/* Hide scrollbar for Chrome, Safari and Opera */
#chatwindow::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#chatwindow{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


/* Hide scrollbar for Chrome, Safari and Opera */
#console::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#console{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.rainbow {
  display:inline-block;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#settingswindow{
  border:1px solid red;
  height: 100%;
  width: 100%;
  color:#000;
  background-color: #ccc;
  position:absolute;
}

.font-larger p {font-size: larger}
.font-large p {font-size: large}

.font-x-large p {font-size: x-large}
.font-xx-large p {font-size: xx-large}
.font-2em p {font-size: 2em}

.font-3em p {font-size: 3em}

.color-white{color: #FFF;}

.color-black{color: #000;}

.color-light-grey{color:#ccc;}
.color-dark-gray{color:#333;}


.color-Red p{ color: #FF0000}
.color-Blue p{ color: #0000FF}
.color-Green p{ color: #00FF00}
.color-FireBrick p{ color: #B22222}
.color-Coral p{ color: #FF7F50}
.color-YellowGreen p{ color: #9ACD32}
.color-OrangeRed p{ color: #FF4500}
.color-SeaGreen p{ color: #2E8B57}
.color-GoldenRod p{ color: #DAA520}
.color-Chocolate p{ color: #D2691E}
.color-CadetBlue p{ color: #5F9EA0}
.color-DodgerBlue p{ color: #1E90FF}
.color-HotPink p{ color: #FF69B4}
.color-BlueViolet p{ color: #8A2BE2}
.color-SpringGreen p{ color: #00FF7F}